body { background: pink !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-primary:focus {
    background-color: #C71585 !important;
    border-color: #DB7093 !important;
    /*FFC0CB FFB6C1 FF69B4 FF1493*/
}

/* Cart Header */
.main-section{
    background-color: #F8F8F8;
    margin-top:50px;
}
.dropdown{
    float:right;
    padding-right: 30px;
    z-index: -1:
}
.btn{
    border:0px;
    margin:10px 0px;
    box-shadow:none !important; 
}
.dropdown .dropdown-menu{
    padding:20px;
    top:30px !important;
    width:350px !important;
    left:-210px !important;
    box-shadow:0px 5px 30px black;
}
.total-header-section{
    border-bottom:1px solid #d2d2d2;
}
.total-section p{
    margin-bottom:20px;
}
.cart-detail{
    padding:15px 0px;
}
.cart-detail-img img{
    width:100%;
    height:100%;
    padding-left:15px;
}
.cart-detail-product p{
    margin:0px;
    color:#000;
    font-weight:500;
}
.cart-detail .price{
    font-size:12px;
    margin-right:10px;
    font-weight:500;
}
.cart-detail .count{
    color:#C2C2DC;
}
.checkout{
    border-top:1px solid #d2d2d2;   
    padding-top: 15px;
}
.checkout .btn-primary{
    border-radius:50px;
    height:50px;
}
.dropdown-menu:before{
  content: " ";
  position:absolute;
  top:-20px;
  right:50px;
  border:10px solid transparent;
  border-bottom-color:#fff; 
}
/*
#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}*/

@media all and (-ms-high-contrast:none) {
.st-menu { position: absolute; }
 img.bottom-img { top: 0; }
.search-cart { display: table; }
.search { display: table-cell !important; }
.shpping-cart { display: table-cell !important; }
.search-cart .shpping-cart { float: none !important; }
 .mega-menu > section.menu-list-items .search-cart .search { float: none !important; }
 .search-cart .shpping-cart { vertical-align: middle; }
}  


/* Custom */
#captcha_image {
    margin-bottom: 15px;
    margin-left: 25px;
}



